.contact{
	.modal-dialog{
		width: 900px;
	}
	.modal-content{
		border-radius: 0;
		background: url(../images/beige-bg.jpg);
	}
	.modal-header{
		background: url(../images/modal-bg.jpg) no-repeat center center;
		height: 250px;
	}
	button{
		&.close{
			background: url(../images/modal-close.png) no-repeat center center;
			height: 60px;
			width: 60px;
		}
	}
	.modal-title{
		text-align: center;
		color: #fff;
		padding-top: 20px;
		h4{
			font-size: 30px;
			text-transform: uppercase;
		}
		h3{
			font-size: 58px;
			margin-top: 0;
			span{
				font-family: Georgia, Times, "Times New Roman", serif !important;
				text-decoration: underline;
				font-style: italic;
				padding-right: 5px;
				font-size: 30px;
				text-transform: none;
			}
		}

	}
	.modal-body{
		background-image: url("../images/modal-form-bg.png");
		background-repeat: no-repeat;
		background-position: 13px 0;
		padding-bottom: 0;
		height: 310px;
	}
	.pref{
		bottom: 4px;
	}
	.row{
		border-bottom: 1px solid #d4d1cb;
		margin: 0;
		padding-top: 0px;
		label{
			position: relative;
			left: 10px;
			bottom: auto;
		}
		input{
			height: 40px;
			margin-left: 20px !important;
			font-size: 14px;
			color: #336699;
			text-transform: uppercase;
			background-color: transparent;
			border: none;
			width: 285px;
			position: relative;
		}
		input[type="submit"]{
			font-size: 16px;
			width: 132px;
			height: 40px;
			font-style: normal;
			border-color: #d2cec7;
			font-family: 'Knockout50Welterweight';
			&.wpcf7-submit {
				margin-left: -30px !important;
				bottom: 20px;
				background-color: transparent;
				color: #336699;
				border-bottom: 3px solid #336699;
				border-top: 3px solid #336699;
				border-radius: 0;
			}
		}
	}
	.text{
		padding-top: 30px;
		text-transform: none;
		font-family: Georgia, Times, "Times New Roman", serif !important;
		font-size: 14px;
		font-style: italic;
		text-transform: none;
		.row{
			border-bottom: none;
		}
	}
	textarea{
		background: url(../images/textarea-bg.jpg);
		line-height: 31px;
		margin-bottom: 0;
		font-size: 14px;
		color: #336699;
		text-transform: uppercase;
		display: block;
		height: 100px;
		width: 100%;
		padding: 5px 0px;
		resize: none;
		border-bottom: 2px solid;
		-webkit-appearance: none;
		border-radius: 0;
		border: none;
	}
}