.exclusive-body{
	background: url(../images/beige-bg.jpg);
	padding-bottom: 90px;
	.pref{
		bottom:4px;
		margin-bottom: 50px;
	}
	img{
		&:hover{
			background: url(../images/ex-hover.png) no-repeat center center;
		}
	}
	.row{
		margin:auto;
		&.title{
			color:#336699;
			font-size: 18px;
			font-family: Georgia, Times, "Times New Roman", serif !important;
			text-align: center;
		}

	}
	.pan_frame{
		img{
			width:260px;
			height:260px;
			border:none;
		}
	}
	.row{
		&.image{
			img{
				border: 4px solid #fff;
			}
		}
	}
}
.exclusive{
	font-family: Georgia, Times, "Times New Roman", serif !important;
	.prop-desc{
		background-image: url('../images/pattern-trans.png');
		background-color: #454546;
		padding-top:50px;
		padding-bottom: 50px;
		.title{
			color: #f6f4f2;
			font-size: 26px;
			margin-bottom: 20px;
			}
		}
		.listings{
			.title{
				color: #336699;
				font-size: 18px;
				margin-top:40px;
				}
			}
		.prop-content{

			.share{
				float:none;
			}
			.title{
				color: #454546 !important;
				margin-top: 0;
			}
			.inner{
				.pref{
					position: relative;
					margin-top: 0;
				}
			}
		}
		.content{
			color:#dad5ca;
			font-size: 16px;
			p{
				line-height: 25px;
			}
		}
	.pref{
		position: absolute;
		margin-top: -3px;
		bottom:auto;
	}
	.number{
		color: #b5b1a9;
	}
	.addthis_32x32_style{
		margin-top: -8px;
	}
	.contact{
		font-size: 14px;
		font-family: 'Knockout50Welterweight';
		span{
			text-transform: uppercase;
		}
	}
	a{
		&.btn{
			&.btn-primary{
				font-family: 'Knockout50Welterweight';
				text-transform: uppercase;
			}
		}
	}
}