@font-face {
	font-family:'Knockout50Welterweight';
	src:url(../fonts/knockout-50.eot);
	src:url(../fonts/knockout-50.eot) format("embedded-opentype"),url(../fonts/knockout-50.woff) format("woff"),url(../fonts/knockout-50.ttf) format("truetype"),url(../fonts/knockout-50.svg#Knockout50Welterweight) format("svg");
}
