a{
	text-decoration: none;
}
.page-title{
	color:#336699;
	font-family: Georgia, Times, "Times New Roman", serif !important;
}
.ps-options{
	padding-top:10px;
	padding-bottom: 10px;
	background-color: #dad5ca;
	color:#8f8d88;
	font-size: 12px;
	font-family: Georgia, Times, "Times New Roman", serif !important;
	font-style: italic;
	a{
		&.btn{
			&.btn-default{
				background-color: #dad5ca;
				border-color: #dad5ca;
				font-family: 'Knockout50Welterweight';
				font-style: normal;
				color:#606060;
				font-size: 16px;
				padding: 3px 8px 3px 8px;
				&.active{
					background-color: #eceae4;
					border-color:#eceae4;
					-webkit-box-shadow: none;
					box-shadow: none;
					color: #b5b1a9;
				}
				&:hover{
					background-color: #8f8d88;
					border-color:#8f8d88;
					color: #dad5ca;
				}
			}
		}
	}
}
.attachment-thumbnail{
	max-height: 60px;
	max-width: 60px;
}
.listings{
	color: #336699;
	font-size: 16px;
	font-family: Georgia, Times, "Times New Roman", serif !important;
	background: url(../images/beige-bg.jpg);
	padding-bottom:60px;
	&.property-search{
		.pref{
			&.beige{
				bottom: 3px;
			}
		}
	}
	.row{
		margin-left:0;
		margin-right:0;
	}
	.top-bar{
		font-family: 'Knockout50Welterweight';
		color: #336699;
		font-size: 16px;
		border-bottom: 1px solid rgba(51, 102, 153, 0.2);
		padding-top:35px;
		text-transform: uppercase;
		div{
			padding-bottom: 15px;
			padding-top:15px;
			cursor:pointer;
			text-align: center;
		}
	}
	hr{
		border-top: 2px solid rgba(51, 102, 153, 0.5);
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.number{
		padding-left: 30px;
	}
	.individual{
		border-top: 1px solid rgba(51, 102, 153, 0.2);
		>div{
			padding-top: 25px;
			&.col-md-4{
				padding-bottom: 10px;
			}
			&.col-md-1{
				min-height:80px;
				text-align: center;
			}
		}
		&.last{
			border-bottom: 1px solid rgba(51, 102, 153, 0.2);
		}
		&:hover{
			background-color:#dfe4e7;
		}
		&.selected{
			background-color:#dfe4e7;
			&:hover{
				background-color:#ccd9e5;
			}
		}
	}
	button{
		&.btn{
			&.btn-default{
				background: url(../images/show-more.png) no-repeat center center;
				color:transparent;
				border-color:transparent;
				height:17px;
				width:16px;
				&:hover{
					color:transparent;
					border-color:transparent;
				}
				&.selected{
					background: url(../images/prop-close.png) no-repeat center center;
					height: 40px;
					width: 40px;
					&:hover{
						background: url(../images/prop-close-hover.png) no-repeat center center;
					}
				}
			}
		}
	}
}

.small-gallery{
	margin-top: -15px;
	img{
		margin-left:10px;
		&.next-row{
			margin-top:10px;
		}
	}
}
.collapse{
	&.in{
		background: #fff;
	}
}
.prop-content{
	background-color: #fff;
	hr{
		border-top: 2px solid rgba(218, 213, 202, 0.5);
		margin-bottom: 20px;
		&.share{
			border-top: 1px solid rgba(218, 213, 202, 0.5);
			float:none;
			margin-top: 60px;
		}
	}
	.share{
		float:left;
		.addthis_32x32_style{
			float:right;
		}
	}
	.inner{
		padding-top:20px;
		.pref{
			bottom: 23px;
		}
	}
	.title{
		font-size: 18px;
		color:#454546;
		font-family: Georgia, Times, "Times New Roman", serif !important;
		}
	.top{
		margin-bottom:20px;
	}
	.bottom{
		color:#8f8d88;
		font-size: 14px;
	}
	.slick-slider{
		height:240px !important;
		img{
			max-width: 273px;
		}
	}
}

.single-property{
	.interested{
		.text{
			padding-top: 30px;
		}
		.row{
			label{
				bottom: auto;
			}
			input{
				height:40px;
				margin-left:20px !important;
				font-size:14px;
				color: #336699;
				text-transform: uppercase;
				&[type="submit"]{
					&.wpcf7-submit{
						margin-left:-30px !important;
						bottom: 20px;
						background-color: transparent;
						color: #336699;
						border-bottom: 3px solid #336699;
						border-top: 3px solid #336699;
						border-radius: 0;
					}
				}
			}
		}
		textarea{
			background: url(../images/textarea-bg.jpg);
			line-height: 31px;
			margin-bottom:0;
			font-size:14px;
			color: #336699;
			text-transform: uppercase;
		}
	}

	hr{
		border-top: 1px solid #dad5ca;
	}
	.title{
		font-size: 18px;
		color:#454546;
		font-family: Georgia, Times, "Times New Roman", serif !important;
		margin-left:0;
		color:#454546;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.number{
		color:#454546;
	}
	.content{
		font-size: 14px;
		color:#454546;
		font-family: Georgia, Times, "Times New Roman", serif !important;
		margin-left: 15px;
		margin-top:20px;
		margin-bottom:70px;
		p{
			line-height: 1.5;
		}
	}
	a{
		margin-left:15px;
		&.btn{
			&.btn-primary{
				background-color:#668cb3;
				border-color:#668cb3;
				color:white;
				font-size: 14px;
				font-family: 'Knockout50Welterweight';
				text-transform: uppercase;
			}
		}
	}
	h3{
		display: inline-block;
	}
	.back{
		display:inline-block;
	}
	.fr{
		&.contact{
			margin-right:30px;
			color: #b5b1a9;
			margin-top: 6px;
		}
	}
	.single-housing{
		background: url(../images/beige-bg.jpg);
		padding-top:40px;
		padding-bottom:60px;
		.pref{
			bottom: 43px;
		}
	}
	.pan_frame{
		background:url(../images/corners.png) no-repeat center center;
		height: 351px;
		width: 425px;
		top:20px;
		position: absolute;
		z-index: 9999999999;
	}
	.modal{

		.pref{
			bottom: 4px;
		}
		.modal-header{
			background: url(../images/modal-bg.jpg) no-repeat center center;
			height:250px;
			.modal-title{
				text-align: center;
				color:#fff;
				padding-top: 20px;
				img{
					margin-left: 60px;
				}
				h4{
					font-size: 30px;
					text-transform: uppercase;
				}
				h3{
					font-size: 58px;
					margin-top: 0;
					span{
						font-family: Georgia, Times, "Times New Roman", serif !important;
						text-decoration: underline;
						font-style: italic;
						padding-right: 5px;
						font-size: 30px;
						text-transform: none;
					}
				}
			}
			button{
				&.close{
					background: url(../images/modal-close.png) no-repeat center center;
					height: 60px;
					width: 60px;
					&:hover{
						background: url(../images/modal-close-hover.png) no-repeat center center;
					}
				}
			}
		}
		.modal-body{
			background-image: url('../images/modal-form-bg.png');
			background-repeat: no-repeat;
			background-position: 13px 0;
			padding-bottom: 0;
			height: 310px;
			p{
				text-align: center;
				color:#336699;
				font-family: Georgia, Times, "Times New Roman", serif !important;
				font-weight: 16px;
				text-transform: none;
				span{
					font-size: 22px;
					font-family: 'Knockout50Welterweight';
				}
			}
			hr{
				margin-top: 0px;
				border-top: 2px solid #dad5ca;
			}
		}
		.modal-dialog{
			width:900px;
		}
	}
	.modal-content{
		border-radius: 0;
		background: url(../images/beige-bg.jpg);
	}
	.bx-wrapper, .bx-viewport{
		width: 424px !important;
		height: 425px !important;

		img{
			width: 424px !important;
			height: 425px !important;
		}
	}
	ul{
		&.single-listing{
			li{
				&:hover{
					background: url(../images/prop-hover.png) center center no-repeat;
				}
			}
		}
	}
}
.lightbox-gallery{
	&:hover{
		.overlay{
			opacity:1;
		}
		.img-responsive{
			opacity:0.7;
		}
	}
	img{
		background:("../image/property-hover.png") no-repeat center center;
		background-repeat: none;
	}
}
.overlay {
  bottom: 0; left: 0; top: 0; right: 0;
  height: 250px;
  width: 250px;
  margin: auto;
  position: absolute;
  background:("../image/property-hover.png") no-repeat center center;
  opacity:0;
}
.nivo-lightbox-theme-default{
	.nivo-lightbox-wrap{
		top: auto;
		left:auto;
		right: auto;
		bottom: auto;
		position: static;
		margin-top: 50px;
	}
	&.nivo-lightbox-overlay{
		background:none;
		background-color:rgba(148, 146, 141, 0.9);
		background-image: url('../images/pattern-trans.png');
	}
	.nivo-lightbox-image{
		img{
			border: 6px solid white;
		}
	}
	.nivo-lightbox-nav{
		&:hover{
			background-color: transparent;
		}
	}
	.nivo-lightbox-next{
			background: url(../images/next.png) no-repeat center center;
		&:hover{
			background: url(../images/next-hover.png) no-repeat center center;
		}

	}
	.nivo-lightbox-prev{
			background: url(../images/prev.png) no-repeat center center;
		&:hover{
			background: url(../images/prev-hover.png) no-repeat center center;
		}

	}
	.nivo-lightbox-close{
		background: url(../images/close.png) no-repeat center center;
		height:60px;
		width:60px;
		&:hover{
			background: url(../images/close-hover.png) no-repeat center center;
		}
	}
}
.share{
	color:#b5b1a9;
	font-size: 12px;
	font-family: Georgia, Times, "Times New Roman", serif !important;
}
.sort{
	background-color:#ccd9e5;
}
