@import "responsive/iphone/all";
@import "responsive/iphone/portrait";
@import "responsive/iphone/landscape";

@media (max-width:767px){
	.breadcrumbs{
		float:none;
		text-align: center;
		margin: 0;
	}
}