// customize bootstrap variables here:
@import "../plugins/slick/slick";
@import "fonts";
@import "variables";
@import "bootstrap";
@import "header";
@import "property";
@import "exclusive";
@import "static-page";
@import "footer";

html, body{
	overflow-x: hidden;
}
body{
	font-family: 'Knockout50Welterweight';
	color:$gray-text;
}
*{
	:focus{
		outline: none !important;
	}
}
.home-contact{
	display:none;
}
.home{
	.home-contact{
		display:block;
	}
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.container{
	max-width:940px;
}
.top-home{
	position:relative;
	top:-170px;
	.pref{
		bottom: -2px;
		position: absolute;
	}
	&.container{
		padding-left: 0;
		padding-right: 0;
		width:100%;
		max-width: 100%;
	}
	.top-overlay{
		background-image: url('../images/pattern-trans.png');
		  background: -webkit-gradient(linear, left top, right top, from(rgba(51, 102, 153, 0.5)), to(rgba(51, 102, 153, 0.0)));
		  background: -webkit-linear-gradient(left, rgba(51, 102, 153, 0.5), rgba(51, 102, 153, 0.0));
		  background: -moz-linear-gradient(left, rgba(51, 102, 153, 0.5), rgba(51, 102, 153, 0.0));
		  background: -ms-linear-gradient(left, rgba(51, 102, 153, 0.5), rgba(51, 102, 153, 0.0));
		  background: -o-linear-gradient(left, rgba(51, 102, 153, 0.5), rgba(51, 102, 153, 0.0));
		  overflow: hidden;
		  position: absolute;
		  height: 100%;
		  width: 100%;
		  top:0;
	}
	.home-slider{
		z-index: 0;
		margin:0 auto 0;
		color:#fff;
		.caption{
			position:absolute;
			z-index:2;
			text-align: center;
			top: 160px;
			.btn{
				display: block;
				font-family: 'Knockout50Welterweight';
				color:white;
				font-size: 14px;
				width:170px;
				height:40px;
				margin: auto;
				border-radius: 0;
				background-color: transparent;
				border:none;
				border-top: 2px solid white;
				border-bottom: 2px solid white;
				text-transform: uppercase;
			}
			.place{
				font-family: Georgia, Times, "Times New Roman", serif !important;
				font-size: 30px;
				font-style: italic;
				display:inline;
				.last{
					text-transform: uppercase;
					font-size: 58px;
					font-style: normal;
					font-family: Georgia, Times, "Times New Roman", serif !important;
					display:inline;
				}
			}
			.type{
				font-family: 'Knockout50Welterweight';
				font-size: 30px;
				display:block;
			}
		}
		img{
			width: 100%;
			max-width: 100%;
			height:561px;
			&.logo{
				height:auto;
				width:auto;
				max-width: none;
				margin: auto;
			}
		}
	}
	.slick-dots{
		left: 375px;
		width: auto;
		bottom: 140px;
		li{
			position:static;
			button{
				width:42px;
				height:15px;
				background: url(../images/pager.png) no-repeat center center;
			}
			&.slick-active{
				button{
					background: url(../images/active.png) no-repeat center center;
				}
			}
		}
	}
}
.pref{
	&.white{
		background: url(../images/perforation-white.png);
	}
	&.beige{
		background: url(../images/perforation-beige.png);
	}
	height: 6px;
	width: 100%;
}
.middle-home{
	background: url(../images/beige-bg.jpg);
	margin-top: -170px;
	padding-top: 40px;
	padding-bottom:40px;
	.line{
		border-bottom: 2px solid #b4c2cf;
	}
	h3{
		&.title{
			color:#336699;
			font-family: Georgia, Times, "Times New Roman", serif !important;
			text-align: center;
			font-size: 26px;
			max-width: 414px;
		}
	}
	.exc-img{
		width: 415px;
		height: 330px;
	}
	.slick-slider{
		max-width: 430px !important;
		height: 370px;
	}
}
.logo-divider{
	background: url(../images/logo-divider.png) no-repeat center center;
	height:50px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.bottom-home{
	.content{
		color:#336699;
		font-family: Georgia, Times, "Times New Roman", serif !important;
		font-size: 15px;
	}
	.pref{
		position: relative;
		bottom: 2px;
	}
	hr{
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.addthis_32x32_style{
	display: inline;
	float: right;
	margin-top: -23px;
	a{
		margin-left: 0;
	}
	.at15t_twitter{
		background: url(../images/social/tw.png) no-repeat center center !important;
		height:30px;
		width: 30px;
		background-position: 0 0 !important;
		&:hover{
			background: url(../images/social/tw-hover.png) no-repeat center center !important;
		}
	}
	.at15t_facebook{
		background: url(../images/social/fb.png) no-repeat center center !important;
		height:30px;
		width: 30px;
		background-position: 0 0 !important;
		&:hover{
			background: url(../images/social/fb-hover.png) no-repeat center center !important;
		}
	}
}
.exc-img{
	img{
		width: 415px;
		height: 330px;
		border: 5px solid #fff;
	}
	&.map{
		.background{
			background-image: url("../images/map-frame.png");
			background-repeat: no-repeat;
			height: 344px;
			width: 434px;
			position: absolute;
			bottom: -7px;
			right: 16px;
		}
		img{
			&.map{
				position:relative;
				z-index: 5;
			}
		}
		map{
			position: relative;
			z-index: 5;
			area{
				&:hover{
					cursor: pointer;
				}
			}
		}
	}
}
.pan_frame{
	overflow: hidden;
	position: absolute;
	top: 0;
	a{
		top: 15px;
		left: 0;
		right: 0;
		margin: auto;
		bottom: 0;
		position: absolute;
		height: 44px;
		width: 136px;
		background-color: transparent;
		border: none;
		border-top: 3px solid #fff;
		border-bottom: 3px solid #fff;
		border-radius: 0;
		text-transform: uppercase;
		font-size: 16px;
		color:#fff;
		&:hover{
			color: #fff;
			background-color: transparent;
			border-top: 3px solid #fff;
			border-bottom: 3px solid #fff;
		}
	}
	img{
		width: 415px;
		height: 330px;
		border: none;
	}
}
